
html(lang='en')
  head
    title Todos
    style
      include style.css

  body
    h1 To-do
    .col
      each val in todo
        ul
          h3= val.message 
          li= val.completion 
          li= val.created_at 
          li= val.updated_at
          input.check(type='checkbox')
          .line 
          